@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 86.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 85%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.4rem;
  }

  .dark {
    --background: 231, 15%, 18%;
    --foreground: 60, 30%, 96%;

    --card: 232, 14%, 31%;
    --card-foreground: 60, 30%, 96%;

    --popover: 231, 15%, 18%;
    --popover-foreground: 60, 30%, 96%;

    --primary: 207 71.2% 49.8%;
    --primary-foreground: 60, 38.3%, 96%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 232, 14%, 31%;
    --muted-foreground: 60, 30%, 96%, 0.7;
    --accent: 225, 27%, 51%;
    --accent-foreground: 60, 30%, 96%;

    --destructive: 0 86.8% 60.6%;
    --destructive-foreground: 210 40% 88%;

    --border: 232, 30%, 61%;
    --input: 225, 27%, 51%;

    --ring: 225, 27%, 51%;
    --radius: 0.4rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    scrollbar-gutter: stable;
  }
  body[style] {
    margin: 0 auto !important;
  }
  body {
    @apply bg-background text-foreground;
  }

  tr > td {
    vertical-align: top !important;
  }
}
